/* NAVBAR START */


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 50px;*/

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 29px 16px; /* TO MAKE 29px  IN % */
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #24b0d6;
  color: white;
}

.topnav b {
  float: left;
  color: #f2f2f2;
  padding: 9px 9px; /* TODO make responsive*/
  text-decoration: none;

}

.logo {
  display: inline-block;
  vertical-align: center;
  width: 60px;
  height: 60px;
  margin-right: 0px;
  margin-top: 0px;    /* if you want it vertically middle of the navbar. */
}
/* NAVBAR END */

/* Typography START */


h1{
  text-align: center;
}

na{
  color: blue;
}
/*   Typography END*/


/* BODY */

.boxGray{
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
  text-align: center;
}



.column5 {
  float: left;
  width: 20%;
  padding: 0px;
  text-align: center;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 0px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* images */

.rounded {
  border-radius: 50%;
}