/* NAVBAR START */


/* Add a black background color to the top navigation */
.topnav {
  background-color: midnightblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 50px;*/

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 29px 16px; /* TO MAKE 29px  IN % */
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: midnightblue;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #24b0d6;
  color: white;
}

.topnav b {
  float: left;
  color: #f2f2f2;
  padding: 9px 9px; /* TODO make responsive*/
  text-decoration: none;

}

.logo {
  display: inline-block;
  vertical-align: center;
  width: 60px;
  height: 60px;
  margin-right: 0px;
  margin-top: 0px;    /* if you want it vertically middle of the navbar. */
}
/* NAVBAR END */

/* Typography START */


h1{
  text-align: center;
}

na{
  color: midnightblue;
  font-family: Arial;
}
/*   Typography END*/


/* BODY */

.boxGray{
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
  text-align: center;
}



.column5 {
  float: left;
  width: 20%;
  padding: 0px;
  text-align: center;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 0px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.marker {
  background-image: url('../img/map_pointer.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


/* images */

.rounded {
  border-radius: 10%;
}


/*WEATHER*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

.forecast-container {
  width: 100%;
  background: #323544;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px; }
  .forecast-container .forecast {
    display: table-cell;
    vertical-align: top; }
    .forecast-container .forecast:nth-child(even) {
      background-color: #262936; }
    @media screen and (max-width: 990px) {
      .forecast-container .forecast {
        display: block;
        width: 16.6667%;
        float: left; } }
    .forecast-container .forecast.today {
      width: 420px; }
      .forecast-container .forecast.today .forecast-header {
        *zoom: 1; }
        .forecast-container .forecast.today .forecast-header:after {
          content: " ";
          clear: both;
          display: block;
          overflow: hidden;
          height: 0; }
        .forecast-container .forecast.today .forecast-header .day {
          float: left; }
        .forecast-container .forecast.today .forecast-header .date {
          float: right; }
      .forecast-container .forecast.today .forecast-content {
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px; }
      .forecast-container .forecast.today .location {
        font-size: 18px;
        font-size: 1.2857142857em;
        font-weight: 400; }
      .forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
        display: inline-block;
        vertical-align: middle; }
      .forecast-container .forecast.today .degree .num {
        font-size: 90px;
        font-size: 6.4285714286rem;
        margin-right: 30px; }
      .forecast-container .forecast.today span {
        margin-right: 20px; }
        .forecast-container .forecast.today span img {
          margin-right: 5px;
          vertical-align: middle; }
      @media screen and (max-width: 990px) {
        .forecast-container .forecast.today {
          display: block;
          width: 100%; } }
    .forecast-container .forecast .forecast-header {
      background: rgba(0, 0, 0, 0.1);
      padding: 10px;
      text-align: center;
      font-weight: 400; }
    .forecast-container .forecast .forecast-icon {
      height: 50px; }
    .forecast-container .forecast .forecast-content {
      padding: 50px 20px 10px;
      text-align: center; }
      .forecast-container .forecast .forecast-content .forecast-icon {
        margin-bottom: 20px; }
      .forecast-container .forecast .forecast-content .degree {
        font-size: 24px;
        font-size: 1.7142857143em;
        color: white;
        font-weight: 700; }
      .forecast-container .forecast .forecast-content small {
        font-size: 16px;
        font-size: 1.1428571429em; }

.num{
  color: lightgray ;
}
.date{
  color: lightgray;
}
.day{
  color: lightgray;
}
.degree{
  color: lightgray;
}
.location{
    color: lightgray;
}
small{
  color: aliceblue;
}
r{
  color: lightgray;
}





/*//////////////////////////////////////////////////////////////////
[ Table ]*/

/*.limiter {*/
/*  width: 100%;*/
/*  margin: 0 auto;*/
/*}*/

/*.container-table100 {*/
/*  width: 100%;*/
/*  min-height: 100vh;*/
/*  background: #c4d3f6;*/

/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -moz-box;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-wrap: wrap;*/
/*  padding: 33px 30px;*/
/*}*/

/*.wrap-table100 {*/
/*  width: 960px;*/
/*  border-radius: 10px;*/
/*  overflow: hidden;*/
/*}*/

/*.table {*/
/*  width: 100%;*/
/*  display: table;*/
/*  margin: 0;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .table {*/
/*    display: block;*/
/*  }*/
/*}*/

/*.row {*/
/*  display: table-row;*/
/*  background: #fff;*/
/*}*/

/*.row.header {*/
/*  color: #ffffff;*/
/*  background: #6c7ae0;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .row {*/
/*    display: block;*/
/*  }*/

/*  .row.header {*/
/*    padding: 0;*/
/*    height: 0px;*/
/*  }*/

/*  .row.header .cell {*/
/*    display: none;*/
/*  }*/

/*  .row .cell:before {*/
/*    font-family: Poppins-Bold;*/
/*    font-size: 12px;*/
/*    color: #808080;*/
/*    line-height: 1.2;*/
/*    text-transform: uppercase;*/
/*    font-weight: unset !important;*/

/*    margin-bottom: 13px;*/
/*    content: attr(data-title);*/
/*    min-width: 98px;*/
/*    display: block;*/
/*  }*/
/*}*/

/*.cell {*/
/*  display: table-cell;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .cell {*/
/*    display: block;*/
/*  }*/
/*}*/

/*.row .cell {*/
/*  font-family: Poppins-Regular;*/
/*  font-size: 15px;*/
/*  color: #666666;*/
/*  line-height: 1.2;*/
/*  font-weight: unset !important;*/

/*  padding-top: 20px;*/
/*  padding-bottom: 20px;*/
/*  border-bottom: 1px solid #f2f2f2;*/
/*}*/

/*.row.header .cell {*/
/*  font-family: Poppins-Regular;*/
/*  font-size: 18px;*/
/*  color: #fff;*/
/*  line-height: 1.2;*/
/*  font-weight: unset !important;*/

/*  padding-top: 19px;*/
/*  padding-bottom: 19px;*/
/*}*/

/*.row .cell:nth-child(1) {*/
/*  width: 360px;*/
/*  padding-left: 40px;*/
/*}*/

/*.row .cell:nth-child(2) {*/
/*  width: 160px;*/
/*}*/

/*.row .cell:nth-child(3) {*/
/*  width: 250px;*/
/*}*/

/*.row .cell:nth-child(4) {*/
/*  width: 190px;*/
/*}*/


/*.table, .row {*/
/*  width: 100% !important;*/
/*}*/

/*.row:hover {*/
/*  background-color: #ececff;*/
/*  cursor: pointer;*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .row {*/
/*    border-bottom: 1px solid #f2f2f2;*/
/*    padding-bottom: 18px;*/
/*    padding-top: 30px;*/
/*    padding-right: 15px;*/
/*    margin: 0;*/
/*  }*/

/*  .row .cell {*/
/*    border: none;*/
/*    padding-left: 30px;*/
/*    padding-top: 16px;*/
/*    padding-bottom: 16px;*/
/*  }*/
/*  .row .cell:nth-child(1) {*/
/*    padding-left: 30px;*/
/*  }*/

/*  .row .cell {*/
/*    font-family: Poppins-Regular;*/
/*    font-size: 18px;*/
/*    color: #555555;*/
/*    line-height: 1.2;*/
/*    font-weight: unset !important;*/
/*  }*/

/*  .table, .row, .cell {*/
/*    width: 100% !important;*/
/*  }*/
/*}*/