/* NAVBAR START */


/* Add a black background color to the top navigation */
.topnav {
  background-color: midnightblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 50px;*/

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 29px 16px; /* TO MAKE 29px  IN % */
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: midnightblue;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #24b0d6;
  color: white;
}

.topnav b {
  float: left;
  color: #f2f2f2;
  padding: 9px 9px; /* TODO make responsive*/
  text-decoration: none;

}

.logo {
  display: inline-block;
  vertical-align: center;
  width: 60px;
  height: 60px;
  margin-right: 0px;
  margin-top: 0px;    /* if you want it vertically middle of the navbar. */
}
/* NAVBAR END */

/* Typography START */


h1{
  text-align: center;
}

na{
  color: midnightblue;
  font-family: Arial;
}
/*   Typography END*/


/* BODY */

.boxGray{
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
  text-align: center;
}



.column5 {
  float: left;
  width: 20%;
  padding: 0px;
  text-align: center;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 0px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* images */

.rounded {
  border-radius: 10%;
}


/*WEATHER*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

.forecast-container {
  width: 100%;
  background: #323544;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px; }
  .forecast-container .forecast {
    display: table-cell;
    vertical-align: top; }
    .forecast-container .forecast:nth-child(even) {
      background-color: #262936; }
    @media screen and (max-width: 990px) {
      .forecast-container .forecast {
        display: block;
        width: 16.6667%;
        float: left; } }
    .forecast-container .forecast.today {
      width: 420px; }
      .forecast-container .forecast.today .forecast-header {
        *zoom: 1; }
        .forecast-container .forecast.today .forecast-header:after {
          content: " ";
          clear: both;
          display: block;
          overflow: hidden;
          height: 0; }
        .forecast-container .forecast.today .forecast-header .day {
          float: left; }
        .forecast-container .forecast.today .forecast-header .date {
          float: right; }
      .forecast-container .forecast.today .forecast-content {
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px; }
      .forecast-container .forecast.today .location {
        font-size: 18px;
        font-size: 1.2857142857em;
        font-weight: 400; }
      .forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
        display: inline-block;
        vertical-align: middle; }
      .forecast-container .forecast.today .degree .num {
        font-size: 90px;
        font-size: 6.4285714286rem;
        margin-right: 30px; }
      .forecast-container .forecast.today span {
        margin-right: 20px; }
        .forecast-container .forecast.today span img {
          margin-right: 5px;
          vertical-align: middle; }
      @media screen and (max-width: 990px) {
        .forecast-container .forecast.today {
          display: block;
          width: 100%; } }
    .forecast-container .forecast .forecast-header {
      background: rgba(0, 0, 0, 0.1);
      padding: 10px;
      text-align: center;
      font-weight: 400; }
    .forecast-container .forecast .forecast-icon {
      height: 50px; }
    .forecast-container .forecast .forecast-content {
      padding: 50px 20px 10px;
      text-align: center; }
      .forecast-container .forecast .forecast-content .forecast-icon {
        margin-bottom: 20px; }
      .forecast-container .forecast .forecast-content .degree {
        font-size: 24px;
        font-size: 1.7142857143em;
        color: white;
        font-weight: 700; }
      .forecast-container .forecast .forecast-content small {
        font-size: 16px;
        font-size: 1.1428571429em; }

.num{
  color: lightgray ;
}
.date{
  color: lightgray;
}
.day{
  color: lightgray;
}
.degree{
  color: lightgray;
}
.location{
    color: lightgray;
}
small{
  color: aliceblue;
}
r{
  color: lightgray;
}