
<!--		<div class="main-header">-->

<!--			&lt;!&ndash; Logo Header &ndash;&gt;-->
<!--			<div class="logo-header" data-background-color="dark2">-->
<!--				<a href=" " class="logo">-->
<!--					<img src="../static/assets/img/logo_GOA.png" alt="logo-GOA" width="35%" class="navbar-brand">-->
<!--				</a>-->
<!--			</div>-->
<!--			&lt;!&ndash; End Logo Header &ndash;&gt;-->

<!--			&lt;!&ndash; Navbar Header &ndash;&gt;-->
<!--			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">-->

<!--				<div class="container-fluid">-->
<!--					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">-->

<!--						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">-->
<!--							<a href=" ">-->
<!--								<span class="sub-item">Home</span>-->
<!--							</a>-->
<!--						</li>-->

<!--						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">-->
<!--							<a href="/data">-->
<!--								<span class="sub-item">Data</span>-->
<!--							</a>-->
<!--						</li>-->

<!--						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">-->
<!--							<a href="/instruments">-->
<!--								<span class="sub-item">Instruments</span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">-->
<!--							<a href="/station">-->
<!--								<span class="sub-item">Weather station</span>-->
<!--							</a>-->
<!--						</li>-->

<!--						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">-->
<!--							<a href="/intranet">-->
<!--								<span class="sub-item">Intranet</span>-->
<!--							</a>-->
<!--						</li>-->

<!--						<li class="nav-item {% if 'ui-' in segment %} active {% endif %}">-->
<!--							<a href="/contact">-->
<!--								<span class="sub-item">Contact</span>-->
<!--							</a>-->
<!--						</li>-->
<!--&lt;!&ndash;						<li class="nav-item toggle-nav-search hidden-caret">&ndash;&gt;-->
<!--&lt;!&ndash;							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">&ndash;&gt;-->
<!--&lt;!&ndash;								<i class="fa fa-search">Search</i>&ndash;&gt;-->
<!--&lt;!&ndash;							</a>&ndash;&gt;-->
<!--&lt;!&ndash;						</li>&ndash;&gt;-->
<!--					</ul>-->
<!--				</div>-->
<!--&lt;!&ndash;				&ndash;&gt;-->
<!--&lt;!&ndash;				<div class="collapse" id="search-nav">&ndash;&gt;-->
<!--&lt;!&ndash;						<form class="navbar-left navbar-form nav-search mr-md-3">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;								<div class="input-group-prepend">&ndash;&gt;-->
<!--&lt;!&ndash;									<button type="submit" class="btn btn-search pr-1">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="fa fa-search search-icon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</button>&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;								<input type="text" placeholder="Search ..." class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;						</form>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--			</nav>-->
<!--		</div>-->