
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>
		   {% block title %}{% endblock %}
		</title>

		<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

		<!-- CSS Files -->
		<link rel="stylesheet" href="/static/assets/css/wGOA7.css">

		<!--Maps-->
		<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />


		<!-- Specific Page CSS goes HERE  -->
		{% block stylesheets %}{% endblock stylesheets %}



	</head>
	<body>
		<div>
			{% include 'navigation2.html' %}

			<div>
				{% block content %}{% endblock content %}
			</div>

		</div>
	</body>
</html>