{% extends "base.html" %}

{% block title %} contact {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<h1>CONTACT</h1>

<p>Don't hesitate to e-mail us if you have a matter you would like to discuss with us</p>


<br>
<div class="boxGray">
    <form action="" method="post">
       {% csrf_token %}
       {{ form }}
       <input type="submit" value="Submit">
    </form>
</div>
<br>
<url>https://www.twilio.com/blog/build-contact-form-python-django-twilio-sendgrid</url>



<!--<div class="boxGray">-->
<!--    <form method="post" action="" class="ccform">-->

<!--        <div class="ccfield-prepend">-->
<!--            <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>-->
<!--            <input class="ccformfield" type="text" placeholder="Full Name" required>-->
<!--        </div>-->


<!--        <div class="ccfield-prepend">-->
<!--            <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span>-->
<!--            <input class="ccformfield" type="text" placeholder="Email" required>-->
<!--        </div>-->


<!--        <div class="ccfield-prepend">-->
<!--            <span class="ccform-addon"><i class="fa fa-mobile-phone fa-2x"></i></span>-->
<!--            <input class="ccformfield" type="text" placeholder="Phone">-->
<!--        </div>-->


<!--         <div class="ccfield-prepend">-->
<!--            <span class="ccform-addon"><i class="fa fa-info fa-2x"></i></span>-->
<!--            <input class="ccformfield" type="text" placeholder="Subject" required>-->
<!--        </div>-->


<!--        <div class="ccfield-prepend">-->
<!--            <span class="ccform-addon"><i class="fa fa-comment fa-2x"></i></span>-->
<!--            <textarea class="ccformfield" name="comments" rows="8" placeholder="Message" required></textarea>-->
<!--        </div>-->


<!--        <div class="ccfield-prepend">-->
<!--            <input class="ccbtn" type="submit" value="Submit">-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<br><br><br>

<div>
    <h1><i class="fa fa-users fa-2x"></i> GOA-UVa team</h1>
    <p>The GOA-UVa in situ measurement station belongs to the Atmospheric Optics Group of Valladolid University (GOA-UVa) and is currently located in the University of Beira Interior as a result of the collaboration between both universities. The GOA-UVa team is detailed here.</p>

    <h2><i class="fa fa-users fa-2x"></i> Local team at UBI</h2>
    <ul>
        <li>Sandra Mogo</li>
        <li>António Tomé - Database</li>
        <li>Rui Boucho de Oliveira - Digital Systems</li>
        <li>Bruno Ribeiro - Data acquisition</li>
        <li>Renan Zocca - Master Student in Industrial Engineering and Management</li>
        <li>Edgar Conceição - Master Student in Optometry and Vision Sciences</li>
        <li>Ana Raquel Barroso - Degree Student in Geology (University of Coimbra)</li>
        <li>José Bernardo Marques - Degree Student in Computer Science and Engineering</li>
        <li>Raphael Monteiro - Degree Student in Computer Science and Engineering</li>
    </ul>
    <h2><i class="fa fa-suitcase fa-2x"></i> Former students who contributed to the project:</h2>
    <ul>
        <li>Renata Martins - Master Student in Industrial Engineering and Management</li>
        <li>Miguel Medeiros - Master Student in Electrical and Computer Engineering</li>
        <li>Anita Costa - PhD Student</li>
        <li>Luís Opinião - Master Student in Electrical and Computer Engineering</li>
        <li>Joana Rodrigues - Degree Student in Optometry - Vision Sciences</li>
        <li>Luís Garcia - Degree Student in Computer Science and Engineering</li>
    </ul>

</div>



{% endblock content %}