{% extends "base.html" %}

{% block title %} data {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>DATA</h1>




    <table border="1">
        <tr>
            <th>time</th>
            <th>N</th>
        </tr>
        {% for getdata in cpc2 %}
        <tr>
            <td>{{getdata.ID}}</td>
            <td>{{getdata.N}}</td>
        </tr>
        {% endfor %}
    </table>

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

    <table border="1">
        <tr>
            <th>time</th>
            <th>sRed</th>
            <th>sGreen</th>
            <th>sBlue</th>
        </tr>
        {% for getdata in neph2 %}
        <tr>
            <td>{{getdata.ID}}</td>
            <td>{{getdata.sred}}</td>
            <td>{{getdata.sgreen}}</td>
            <td>{{getdata.sblue}}</td>
        </tr>
        {% endfor %}

{% endblock content %}









