{% extends "base.html" %}

{% block title %} data {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>GRAPH</h1>

<!-- tooltip for precise info-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<h2>CPC_UBI </h2>
<div class="boxGray">

    <div id={{ chartID|safe }} class="chart" style="height:500px; width:100%"></div>

    <script>
        var chart_id =  {{ chartID|safe }}
        var chart =     {{ chart|safe }}
        var title =     {{ title|safe }}
        var xAxis =     {{ xAxis|safe }}
        var yAxis =     {{ yAxis|safe }}
        var series =    {{ series|safe }}

    </script>

<!-- Highchart js. Variable map shown above -->
    <script>
        $(document).ready(function() {
            $(chart_id).highcharts({
                chart: chart,
                title: title,
                xAxis: xAxis,
                yAxis: yAxis,
                series: series
            });
        });
    </script>
</div>

<h2>NEPH UBI</h2>


<div class="boxGray">

    <div id={{ chartIDNeph|safe }} class="chart" style="height:500px; width:100%"></div>

    <script>
        var chart_id_neph = {{ chartIDNeph|safe }}
        var chartNeph =   {{ chartNeph|safe }}
        var titleNeph =   {{ titleNeph|safe }}
        var xAxisNeph =   {{ xAxisNeph|safe }}
        var yAxisNeph =   {{ yAxisNeph|safe }}
        var seriesNeph =  {{ seriesNeph|safe }}

    </script>

    <!-- Highchart js. Variable map shown above -->
    <script>

        $(document).ready(function() {
            $(chart_id_neph).highcharts({
                chart: chartNeph,
                title: titleNeph,
                xAxis: xAxisNeph,
                yAxis: yAxisNeph,
                series: seriesNeph
            });
        });


    </script>

</div>



<h2>PSAP</h2>

<div class="boxGray">

    <div id={{ chartIDPsap|safe }} class="chart" style="height:500px; width:100%"></div>

    <script>
        var chart_id_psap = {{ chartIDPsap|safe }}
        var chartPsap =   {{ chartPsap|safe }}
        var titlePsap =   {{ titlePsap|safe }}
        var xAxisPsap =   {{ xAxisPsap|safe }}
        var yAxisPsap =   {{ yAxisPsap|safe }}
        var seriesPsap =  {{ seriesPsap|safe }}

    </script>

    <!-- Highchart js. Variable map shown above -->
    <script>

        $(document).ready(function() {
            $(chart_id_psap).highcharts({
                chart: chartPsap,
                title: titlePsap,
                xAxis: xAxisPsap,
                yAxis: yAxisPsap,
                series: seriesPsap
            });
        });


    </script>

</div>


<h2>APS UBI</h2>

<div class="boxGray">

    <div id={{ chartIDAps|safe }} class="chart" style="height:500px; width:100%"></div>

    <script>
        var chart_id_aps = {{ chartIDAps|safe }}
        var chartAps =   {{ chartAps|safe }}
        var titleAps =   {{ titleAps|safe }}
        var xAxisAps =   {{ xAxisAps|safe }}
        var yAxisAps =   {{ yAxisAps|safe }}
        var seriesAps =  {{ seriesAps|safe }}

    </script>

    <!-- Highchart js. Variable map shown above -->
    <script>

        $(document).ready(function() {
            $(chart_id_aps).highcharts({
                chart: chartAps,
                title: titleAps,
                xAxis: xAxisAps,
                yAxis: yAxisAps,
                series: seriesAps
            });
        });


    </script>

</div>





{% endblock content %}














