{% extends "base.html" %}

{% block title %} home page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>GOA-UVa <i> in situ </i> measurement station</h1>

<div class="boxGray">
    <div class="row">
        <div class="column">
            <div id='map' style='width: 400px; height: 300px;' class="center"></div>
            <p>Current location: 	University of Beira Interior, Covilhã, Portugal </p>
	        <p>40° 16' 30"N, 7° 30' 35"W, 704 m</p>
        </div>
        <div class="column">
            <img src="{% url 'webcam_feed' %}" style='height: 300px;'>
            <p>Webcamera live feed (reload to updated)</p>
        </div>
    </div>
</div>

<br>


<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicGlrc3UiLCJhIjoiY2t6dHJjNm4yNG54ejJ2bnk1OTh3aWludCJ9.0ujppZzr2VerPgKT1higPw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-7.51, 40.278],
        zoom: 14,
    });



    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());


    // dots for the position
    const geojson = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [-7.509722, 40.2750]
          },
          properties: {
            title: 'Mapbox',
            description: 'Weather Station'
          }
        }
      ]
    };

    for (const feature of geojson.features) {
      // create a HTML element for each feature
      const el = document.createElement('div');
      el.className = 'marker';

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).addTo(map);
    }
</script>




<!--weather-->
<p style="text-align: right">Weather information coming from openweathermap.org</p>
<div class="forecast-table" >
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">{{date}}</div>
                    <div class="date">{% now "l" %}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="location">{{city_name}},{{city_country}}</div>
                    <div class="degree">
                        <div class="num">{{temp}}<sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="" width=90>
                        </div>
                    </div>
                    <r>
                    <span><img style="height: 25px; width: 25px" src="../static/assets/img/weather/cloud.png"
                            alt="">{{cloud}}%</span>
                    <span><img src="../static/assets/img/weather/icon-wind.png" alt="">{{wind}}km/h</span>
                    <br>
                    <span><img src="../static/assets/img/weather/icon-compass.png" alt="degree">{{degree}}<sup> o</sup></span>
                    <span><img style="height: 25px; width: 25px;" src="../static/assets/img/weather/hot.png"
                            alt="status">{{status|capfirst }}</span>
                    </r>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">{{date1}}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="http://openweathermap.org/img/wn/{{icon1}}@2x.png" alt="" width=48>
                    </div>
                    <div class="degree">{{temp_max1}}<sup>o</sup>C</div>
                    <small>{{temp_min1}}<sup>o</sup></small>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">{{date2}}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="http://openweathermap.org/img/wn/{{icon2}}@2x.png" alt="" width=48>
                    </div>
                    <div class="degree">{{temp_max2}}<sup>o</sup>C</div>
                    <small>{{temp_min2}}<sup>o</sup></small>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">{{date3}}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="http://openweathermap.org/img/wn/{{icon3}}@2x.png" alt="" width=48>
                    </div>
                    <div class="degree">{{temp_max3}}<sup>o</sup>C</div>
                    <small>{{temp_min3}}<sup>o</sup></small>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">{{date4}}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="http://openweathermap.org/img/wn/{{icon4}}@2x.png" alt="" width=48>
                    </div>
                    <div class="degree">{{temp_max4}}<sup>o</sup>C</div>
                    <small>{{temp_min4}}<sup>o</sup></small>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">{{date5}}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="http://openweathermap.org/img/wn/{{icon5}}@2x.png" alt="" width=48>
                    </div>
                    <div class="degree">{{temp_max5}}<sup>o</sup>C</div>
                    <small>{{temp_min5}}<sup>o</sup></small>
                </div>
            </div>

        </div>
    </div>
</div>



<!--Maybe this : https://pvlib-python.readthedocs.io/en/stable/auto_examples/plot_sunpath_diagrams.html-->

<div class="center">
    <img src="../static/assets/img/sun.png" alt="weather" style="width:100%">
</div>

<div class="column">
    <a href="https://www.ubi.pt/Entidade/Departamento_de_Ciencias_Aeroespaciais ">
        <p>Dpt.of Aerospace Science – UBI</p>
    </a>
    <a href="https://www.flightradar24.com/38.69,-5.3/6">
        <img src="../static/assets/img/flightradar24.jpg" style="width: 10%">
    </a>
</div>

{% endblock content %}