{% extends "base.html" %}

{% block title %} home page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>GOA-UVa <i> in situ </i> measurement station</h1>

<div class="boxGray">
    <div class="row">
        <div class="column">
            <img src="../static/assets/img/map.png" alt="map" style="width:70%">
        </div>
        <div class="column">
            <img src="../static/assets/img/live_feed.jpg" alt="liveFeed" style="width:70%">
        </div>
    </div>
</div>

<br>

<div class="center">
    <img src="../static/assets/img/weather.png" alt="weather" style="width:100%">
</div>

<div class="center">
    <img src="../static/assets/img/sun.png" alt="weather" style="width:100%">
</div>

{% endblock content %}