{% extends "base.html" %}

{% block title %} instruments {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>INSTRUMENTS</h1>

    <div class="row">
        <div class="column5">
            <na>yaaaaay</na>
            <a href="/instrument1">
                <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
            </a>
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
    </div>
    <div class="row">
        <div class="column5">
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
            <na>instrument</na>
        </div>
        <div class="column5">
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
            <na>instrument</na>
        </div>
        <div class="column5">
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
            <na>instrument</na>
        </div>
        <div class="column5">
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
            <na>instrument</na>
        </div>
        <div class="column5">
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
            <na>instrument</na>
        </div>
    </div>

<br><br><br>


    <div class="row">
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
    </div>
    <div class="row">
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
    </div>



<br><br><br>
<h1>3 columns</h1>

<!--    Names of the instruments -->
    <div class="row">
        <div class="column3">
            <na>instrument</na>
        </div>
        <div class="column3">
            <na>instrument</na>
        </div>
        <div class="column3">
            <na>instrument</na>
        </div>
    </div>

<!--Pictures of the instruments -->
    <div class="row">
        <div class="column3">
            <img src="../static/assets/img/map.png" alt="map" style="width:60%" class="rounded">
        </div>
        <div class="column3">
            <img src="../static/assets/img/map.png" alt="map" style="width:60%" class="rounded">
        </div>
        <div class="column3">
            <img src="../static/assets/img/map.png" alt="map" style="width:60%" class="rounded">
        </div>
    </div>

    <br><br><br>

    <div class="row">
        <div class="column3">
            <na>instrument</na>
        </div>
        <div class="column3">
            <na>instrument</na>
        </div>
        <div class="column3">
            <na>instrument</na>
        </div>
    </div>

    <div class="row">
        <div class="column3">
            <img src="../static/assets/img/map.png" alt="map" style="width:60%" class="rounded">
        </div>
        <div class="column3">
            <img src="../static/assets/img/map.png" alt="map" style="width:60%" class="rounded">
        </div>
        <div class="column3">
            <img src="../static/assets/img/map.png" alt="map" style="width:60%" class="rounded">
        </div>
    </div>

<br><br><br>
<h1>EMPTY</h1>

    <div class="row">
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">

            <img src="../static/assets/img/empty.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">

            <img src="../static/assets/img/empty.png" alt="map" style="width:100%" class="rounded">
        </div>
        <div class="column5">
            <na>instrument</na>
            <img src="../static/assets/img/map.png" alt="map" style="width:100%" class="rounded">
        </div>
    </div>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

{% endblock content %}