{% extends "base.html" %}

{% block title %} intranet {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--TAB STYLE : -->
<style>


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>


<h1>Intranet</h1>
<h2 style="color: red"> LINKS TO DO ! </h2>

<p>In this section we archive documentation, software and data related with our station. Some of the material has free access, but some requires authentication. </p>
<p>Please <a href="/contact">contact us</a> if you are interested in any thing that is not freely accessible. </p>


<h2>Tabs</h2>
<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'manuals')">Manuals & SOPs</button>
    <button class="tablinks" onclick="openCity(event, 'software')">Software</button>
    <button class="tablinks" onclick="openCity(event, 'database')">Database</button>
    <button class="tablinks" onclick="openCity(event, 'calendar')">Calendar</button>
</div>

<!-- *** Page Manuals & SOPs Start *** -->
<div id="manuals" class="tabcontent">
  <h2>Manuals & SOPs</h2>
      <h3>Standard operation procedures</h3>
    <ul>
        <li><a href="SOPs/GOA-UVa-Station-SOP.html">GOA-UVa <i>in situ</i> station</a></li>
        <li>Control system to switch PM10-PM1</li>
        <li><a href="SOPs/Neph-SOP.html">Nephelometer</a></li>
        <li><a href="SOPs/APS-SOP.html">APS</a></li>
        <li><a href="SOPs/CPC-SOP.html">CPC</a></li>
        <li><a href="SOPs/PSAP-SOP.html">PSAP</a></li>
        <li>HT sensor</li>
    </ul>

    <h3>Manuals</h3>

    <ul>
        <li>Nephelometer:   <a href="contact.html">neph3563</a>,    <a href="contact.html">motor replacement</a>,   <a HREF="contact.html">shutter motor</a>, <A HREF="contact.html">chopper motor</a>, <A HREF="contact.html">replacement parts</a> </li>
        <li>APS:            <a href="contact.html">APS3321</a>,     <a href="contact.html">AIM for APS</a>,         <a HREF="contact.html">replacement parts</a></li>
        <li>CPC:            <a href="contact.html">CPC3022A</a>,    <a href="contact.html">AIM for CPC</a>,         <a HREF="contact.html">replacement parts</a></li>
        <li>PSAP:           <a href="contact.html">1W</a>,          <a href="contact.html">3W-JO</a>,               <a HREF="contact.html">3W</a></li>
        <li>Gilibrator:     <a href="Manuals/Gilibrator2/Gilib-2_850190M-H.pdf">Gilib-2</a></li>
        <li>Vaisala:        <a href="Manuals/VAISALA/HMT330 User Guide in English.pdf">HMT333</a></li>
        <li>Heater tape:    <a href="Manuals/HeaterTape-HTWC102-004/HTWC_Series.pdf">HTWC102-004</a>,               <a HREF="Manuals/HeaterTape-HTWC102-004/M1046.pdf">manual</a></li>
        <li>Weather station:<a href="Manuals/WeatherStation-Oregon-WMR928NX/WMR928NX.pdf">WMR928NX</a></li>
        <li>Routers:        <a href="Manuals/Routers-Linksys/MANUAL000000300.pdf">Linksys Wireless-G WRT54G</a></li>
        <li>Panel Antenna:  <a href="Manuals/Antenna/p172401_en.pdf">Panel17 INT-PAN-17/24-HV</a></li>
        <li>Webcam:         <a href="Manuals/Webcam-DLink-DCS910/dcs910.pdf">DCS-910</a></li>
        <li>Electric actuator:      <a href="Manuals/Electric-Actuator-J2H20/J2H20.pdf">J2-H20</a> (old),               <a HREF="Manuals/Electric-Actuator-J3CH20/J3C-Catalogue-WebRev9.pdf">J3C-H20</a>, <a href="Manuals/Electric-Actuator-J3CH20/MuB_el_Stellantrieb_Serie_J3_J3C_en.pdf">+info</a>, <a href="Manuals/Electric-Actuator-J3CH20/00000038.pdf">+info</a></li>
        <li>Rotameters:     <a href="Manuals/Rotameters/KeyInstruments-MR300/mr-manual.pdf">KeyInstruments-MR300</a>,   <a HREF="Manuals/Rotameters/Swagelok-GM06MZ-G212M10Z/MS-02-346.PDF">Swagelok GM06MZ, G212M10Z</a>, <a href="Manuals/Rotameters/Tecfluid-2150/2000_esp.pdf">Tecfluid-2150/2000</a>, <a href="Manuals/Rotameters/Tecfluid-2150/MI_2000_rev2.pdf">Tecfluid-2150/2000</a></li>
        <li>Vacuum pumps:   <a href="Manuals/Pumps/Busch/Seco-SV-1003-D.pdf">Seco-SV-1003</a>,                          <a HREF="Manuals/Pumps/KNF-N86KN18/KNF003_EN.pdf">KNF-N86KN18</a></li>
        <li>Air conditioner LG:     <a href="Manuals/AirConditioner-W09AH/3828A28001B_MANUAL_OWNERS.pdf">W09AH</a></li>
        <li>Air conditioner Midea:  <a href="contact.html">Midea-MSMBDU-12HRFN1-MISSION</a>
        <li>Air extractor:          <a href="Manuals/Air-Extractor-TD160-100-ecowatt/td_ecowatt_fid4578.pdf">TD-160/100-ECOWATT</a></li>
    </ul>
</div>
<!-- *** Page Manuals & SOPs End ***** -->

<!-- *** Page Software Start *** -->
<div id="software" class="tabcontent">
  <h2>Software</h2>

    <ul>
        <li>Nephelometer:   <a href="contact.html">Nephlog.zip</a>,                             <a href="contact.html">Nephwin.zip</a></li>
        <li>APS:            <a href="contact.html">APS3321_90_setup.exe</a></li>
        <li>CPC:            <a href="contact.html">CPC_90_setup.exe</a></li>
        <li>Control system to switch PM10-PM1: <a href="contact.html">Arduino</a>,              <a href="contact.html">ModuloCorteV3-java.tar.gz</a></li>
        <li>PSAP:           <a href="Software/PSAP/PSAPacquire">PSAPacquire</a></li>
        <li>HT sensor:      <a href="Software/HTsensor/VAISALAacquire">VAISALAacquire</a></li>
        <li>Heater tape:    <a href="contact.html">Serial_Tape_Control_AUTO</a>,                <a href="contact.html">Serial_Tape_Control_Manual</a></li>
        <li>Webcam scripts: <a href="Software/scripts/rsync-webcam.sh">rsync-webcam.sh</a>,     <a href="Software/scripts/save-webcam.sh">save-webcam.sh</a></li>
        <li>Other scripts:  <a href="Software/scripts/rsync-laptop.bat">rsync-laptop.bat</a> (rsync Windows 7 to SuSE server through <a href="http://www.cygwin.com">Cigwin</a>), <a href="Software/scripts/rsync-rawData.sh">rsync-rawData.sh</a></li>
    </ul>
    <ul>
        <li>Weather station: <a href="http://www.wviewweather.com/">WView <img alt="[logo WView]" src="figures/wview-40x40.png" height="24pt"></a></li>
    </ul>
    <ul>
        <li>Logbook:    <a href="http://midas.psi.ch/elog/">elog <img alt="[logo ELOG]" src="figures/logo-elog.png" height="12pt"></a></li>
        <li>Database:   <a href="http://www.mysql.com/">MySQL <img alt="[logo MySQL]" src="figures/logo-mysql-110x57.png" height="18pt"></a></li>
    </ul>
</div>
<!-- *** Page Software End ***** -->

<!-- *** Page Database Start *** -->
<div id="database" class="tabcontent">
  <h2>Database</h2>

    <BR><BR><BR>
    <table width="100%">
        <tr>
            <td width="33%" align="center"><img alt="[logo database]" src="figures/database.png"><BR>
                <a href="http://linuxhoster.ubi.pt/phpmyadmin" target="_blank">Database</a>
            </td>
            <td width="34%" align="center"><A href="http://midas.psi.ch/elog/" target="_blank"><img alt="[logo ELOG]" src="figures/logo-elog.png" height="18pt"></a><BR>
                <a href="contact.html">Station log book</a>
            </td>
        </tr>
    </table>

    <BR><BR><BR>
</div>
<!-- *** Page Database End ***** -->


<div id="calendar" class="tabcontent">
  <h2>Calendar</h2>
  <p>Do we need a calendar ? </p>
</div>




<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>























{% endblock content %}