
		<div class="main-header">

			<!-- Logo Header -->
<!--			<div class="logo-header" >-->
<!--				<a href="/index" class="logo">-->
<!--					<img src="../static/assets/img/logo_GOA.png" alt="logo-GOA" width="35%" class="navbar-brand">-->
<!--				</a>-->
<!--			</div>-->
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<div class="topnav">
				<b href="/index" class="logo" >
					<img src="/static/assets/img/logo_GOA.png"  alt="logo-GOA" width=60px>
				</b>
				<a href="/index">Home</a>
<!--				<a href="/data">Data</a>-->
				<a href="/graph">Data</a>
				<a href="/instruments">Instruments</a>
				<a href="/station">Weather station</a>
<!--				<a href="https://webx.ubi.pt/~goa/DATA/weewx/index.html" target="_new">Weather</a>-->
				<a href="/intranet">Intranet</a>
				<a href="/previous">Previous locations</a>
				<a href="/contact">Contact</a>
				<a href="/admin">ADMIN</a>
			</div>
		</div>


