{% extends "base.html" %}

{% block title %} Previous locations {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>Previous locations</h1>

<h2>[Icon location] Valladolid, Spain</h2>

    <p>Fuente de la Mora - Campus Deportivo - Universidad de Valladolid</p>
    <p>41° 39' 23"N, 4° 40' 44"W, 709 m</p>
    <p>Data set: 16.06.2011 - 03.06.2013</p>
    <p>People in charge:</p>
<ul>
    <li>Juan Francisco López - now at Royal Military Academy, Belgium</li>
    <li>Alberto Marcos - PhD student</li>
    <li>Letícia Martín - former PhD student</li>
</ul>






{% endblock content %}