{% extends "base.html" %}

{% block title %} test page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<a href="{% url 'demo' %}">Connect to Google Calendar</a>


<p>Current time : {% now "Ymj" %}T{% now "Hi" %}</p>



<h1>LOCAL DATA</h1>


<h2>CPC_UBI :</h2>

    <table border="1">
        <tr>
            <th>time</th>
            <th>N</th>
        </tr>
        {% for getdata in psap %}
        <tr>
            <td>{{getdata.ID}}</td>
            <td>{{getdata.N}}</td>
        </tr>
        {% endfor %}
    </table>



{% endblock content %}









