{% extends "base.html" %}

{% block title %} cpc {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- tooltip for precise info-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script src="https://code.highcharts.com/modules/heatmap.js"></script>

<!--Allows to export data : -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



<!--<h1>cpc</h1>-->
<!--<form action="post">-->
<!--    <input type = "datetime-local">-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->


<h1>CPC</h1>
<p>Enter date :</p>
<form method = "GET">
    {{ form }}
    <input type = "submit" value = "Submit">
</form>
 <p>You have chosen : {{dateTimeDD|safe}}, data displayed : {{titleday}}</p>
<br>

<div class="column">
    <div class="boxGray">
        <figure class="highcharts-figure" >
            <div id="container"></div>
        </figure>
    </div>
</div>

<div class="column">
    <script>

        var daycpc = {{daycpc|safe}};
        var ncpc = {{N|safe}};
        var timecpc = {{ID|safe}};

        var newList = [];


        for (let i = 0; i < ncpc.length; i++) {
            newList.push('<tr>')
            newList.push('<td>')
            newList.push(daycpc[i]);
            newList.push('</td>')
            newList.push('<td>')
            newList.push(timecpc[i]);
            newList.push('</td>')
            newList.push('<td>')
            newList.push(ncpc[i]);
            newList.push('</td>')
            newList.push('</tr>')

        }

        // console.log(newList);

        // // CREATE the new list with the values and the
        // function makeTableHTML(myArray) {
        //     var result = "<table border=1>";
        //     for(var i=0; i<myArray.length; i++) {
        //         result += "<tr>";
        //         for(var j=0; j<myArray[i].length; j++){
        //             result += "<td>"+myArray[i][j]+"</td>";
        //         }
        //         result += "</tr>";
        //     }
        //     result += "</table>";
        //
        //     return result;
        // };


        // document.write(makeTableHTML(newList))

    </script>
    <div class="center">
        <figure>
        <table border="1">
            <th>Day</th>
            <th>Time</th>
            <th>N</th>
                <tr>
                    <script>
                        document.write(newList.join(' ')) //remove the commas
                    </script>
                </tr>
        </table>
        </figure>
    </div>

</div>


<script>
    var cpcdet =    {{ cpcdet|safe }}
    var title =     {{ title|safe }}
    var xAxis =     {{ xAxis|safe }}
    var yAxis =     {{ yAxis|safe }}
    var series =    {{ series|safe }}
    var Ddaycpc =    {{ Ddaycpc|safe }}
</script>
<!-- Highchart js. Variable map shown above -->



<script>
    Highcharts.chart('container', {
        title: title ,
        subtitle: Ddaycpc,
        yAxis: yAxis,
        xAxis: xAxis,
        series: series,
    });
</script>

<br><br><br><br><br><br><br><br><br><br><br><br>


<a href="/cpcD">
    <button>Show available days</button>
</a>

<!--<details>-->
<!--    <summary>Days available :</summary>-->
<!--    <table>{{daysList|safe}}</table>-->

<!--</details>-->

{% endblock content %}