{% extends "base.html" %}

{% block title %} psap {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>

    var daycpc = {{daysList|safe}}


    var newList = [];


    for (let i = 0; i < daycpc.length; i++) {
        newList.push('<tr>')
        newList.push('<td>')
        newList.push(daycpc[i]);
        newList.push('</td>')
        newList.push('</tr>')

    }


    // document.write(makeTableHTML(newList))

</script>
<a href="/psap">
    <button>Graph PSAP</button>
</a>
<div class="center">

    <table border="1">
        <th>Date</th>
        <tr>
            <script>
                document.write(newList.join(' ')) //remove the commas
            </script>
        </tr>
    </table>

</div>


{% endblock content %}